// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.font-alt {
    display: flex;
    justify-content: space-around;
    // margin-top: 50px;
    padding-top: 40px;
}

#about-form {
    color: #4a5159;
}

.btn-ghost{
    display: flex;
    justify-content: space-around;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgba(255, 255, 255, 0.75);
    padding: 8px;
    border-radius: 4px;
    margin: 0px 0px 8px 0px;
    opacity: 0.8;
}
.label {
    margin-bottom: 16px;
    width: 375px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.main {
    display: flex;
    justify-content: space-around;
    font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    font-size: xx-large;
}

.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;  
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.btn-ghost:hover {
    opacity: 1;
}

#go-back {
    width: 109px; 
    margin: auto;
    color: black;
    padding-bottom: 10px;   
}

#go-back:hover{
    background: black;
    color: white;
}

#simple:hover{
    background: #0269d9;
    color: white;
}

#simple{
    // padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    padding: 1em 2.1em 1.1em;
    margin: 8px 8px 8px 8px;
    color: white;
    background-color: #fbdedb;
    display: inline-block;
    background: #037BFE;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 150px;
    border: 0;
}

.sub-header {
    font-size: 18px;
    line-height: 1.16;
    font-weight: 700;
    color: #051c35;
    text-align: center;
    left: 50%;
    right: 50%;
    margin-top: 20px;
}

.large-box {
    color: gray;
}

.label {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.big-image{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(backgroundform.jpg);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    color: white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
}

// .main {
//     display: flex;
//     justify-content: space-around;
//     font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//     font-weight: 600;
//     font-size: xx-large;
// }